<%= render 'default/shared/snake_background' do %>

  <section class="w-full max-w-prose mx-[10%] xl:mx-[15%] px-3 tb-content mb-40">
    <h1 class="mb-4"><%= current_page.title %></h1>
    <%= content.html(:rich_content) %>
  </section>

<% end %>
