<%= render 'default/shared/snake_background' do %>
  <%= render 'default/shared/breadcrumbs' %>
  <p>Default Template</p>
  <article class="mb-40 mt-6 tb-content">
    <h1 class="mb-4"><%= current_page.title %></h1>
    <%= content.html(:rich_content) %>
  </article>
<% end %>
