<div id="<%= image.object_id %>" role="button" class="hidden fixed top-0 left-0 w-full h-full z-40 bg-black bg-opacity-70 px-2 py-10 sm:!p-10 lg:!p-20 flex justify-center items-center" data-controller="image" data-action="click->image#closeZoom">
  <%= content.image_tag image, { loader: { page: nil } }, { class: "!w-auto max-w-full !h-auto max-h-full object-contain rounded" } %>
</div>
