<%= render 'default/shared/snake_background' do %>
  <div class="<%= center_div_classes %> px-3 tb-content">
    <h1><%= current_page.title %></h1>
  </div>

  <%= render 'default/shared/sections_repeater' %>
  <!-- Articles Repeater -->
<% end %>
