<% if part.present? %>
  <%# if not just repeater is present but any content present %>
  <% if part.select{|rep_content|rep_content.content(:single_tag_selector)&.content(:thumbnail).present?}.present? %>
    <div class="<%= center_div_classes %> px-3 mb-4">
      <ul class="w-full flex flex-wrap items-start justify-center gap-1 mt-4">
        <% part.each do |tag| %>
          <% tag_page = tag.content(:single_tag_selector) %>
          <% if tag_page.present? && tag_page.content(:thumbnail).present? %>
            <li class="">
              <%= tag_page&.content&.image_tag :thumbnail, { loader: { page: nil } }, { class: "w-28 h-28", title: "#{ tag_page.title }" } %>
              <span class="sr-only"><%= tag_page.title %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

